@import '../../style-variables/variables.scss';

.categories-section-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;

  .button {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 30%;
    padding: 16px 18px;
    align-items: center;
    background-color: $tertiary-color;
    border: solid 1px #eceff1;
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.1);
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #455a64;

    .icon-container {
      border-radius: 50%;
      background-color: #d6d6d6;

      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 17px;

      svg {
        filter: invert(27%) sepia(100%) saturate(1360%) hue-rotate(178deg)
          brightness(70%) contrast(104%);
      }
    }
  }

  .button:hover,
  .category-button-active {
    background-color: $light-background;
    cursor: pointer;
    color: $primary-color;
  }

  .active-button {
    background-color: red;
  }
}
